.container {
  margin: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 98vh;
}

.container .side_nav {
  max-width: 230px;
  width: 15%;
  height: 100%;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container .side_nav {
    display: none;
  }
}

@media only screen and (max-width: 766px) {
  .container .side_nav {
    display: none;
  }
}

.container .body__container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media only screen and (max-width: 766px) {
  .container .body__container {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container .body__container {
    width: 100%;
  }
}

.container .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container .body {
    width: 100%;
  }
}

@media only screen and (max-width: 766px) {
  .container .body {
    width: 100%;
  }
}

.container .body .col1::-webkit-scrollbar {
  width: 5px;
  overflow-x: hidden;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1::-webkit-scrollbar {
    display: none;
  }
}

.container .body .col1::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 5px;
  background-color: #c5c3c3;
}

.container .body .col1::-webkit-scrollbar-thumb:hover {
  height: 5px;
  border-radius: 5px;
  background-color: #8b8b8b;
}

.container .body .col1::-webkit-scrollbar-track {
  background: transparent;
  border-right: 0.5px solid lightgray;
}

.container .body .col1 {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: white;
}

.container .body .col1 .section_1 {
  padding-top: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_1__main {
  width: 97%;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_1__main {
    width: 95%;
  }
}

.container .body .col1 .section_1__main .section_1_header_text {
  color: #64748B;
  margin: 0;
  font-size: 16px;
}

.container .body .col1 .section_1__main .balance {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

.container .body .col1 .section_1__main .balance div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_1__main .balance div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_1__main .balance h1 {
  margin-right: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_1__main .balance {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_1__main .point_balance_mobile {
  margin-top: 30px;
  width: 100%;
  display: none;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_1__main .point_balance_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .body .col1 .section_1__main .welcome {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 50px;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media only screen and (max-width: 766px) {
  .container .body .col1 .section_1__main .welcome {
    width: 100%;
  }
}

.container .body .col1 .section_1__main .welcome p {
  font-family: Montserrat;
  line-height: 24px;
}

.container .body .col1 .section_2 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_2__main {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_2__main {
    width: 95%;
  }
}

.container .body .col1 .section_2__main h3 {
  color: #002c3d;
  font-size: 18px;
}

.container .body .col1 .section_2 .quick_access {
  padding-top: 30px;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  grid-gap: .5rem;
  max-height: 80vh;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(46%, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(46%, 200px));
}

.container .body .col1 .section_2 .quick_access .action:hover {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .body .col1 .section_2 .quick_access .action {
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 56px;
  width: 100%;
  background-color: #FFF5EB;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border: .5px solid #FFE0C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .body .col1 .section_2 .quick_access .action_completed {
  background-color: #F0FDF4;
  border: .5px solid #BBF7D0;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 56px;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .body .col1 .section_3 {
  padding-top: 15px;
  padding-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_3__main {
  width: 97%;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_3__main {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.container .body .col1 .section_3__main h3 {
  font-size: 18px;
  color: #002C3D;
}

.container .body .col1 .section_3__main p {
  font-size: 16px;
  color: #002C3D;
}

.container .body .col1 .section_3__main .link_buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_3__main .link_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .body .col1 .section_3__main .link_buttons a {
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  color: #57584E;
  background-color: transparent;
  width: 229px;
  height: 36px;
  border: .5px solid #CBD5E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_3__main .link_buttons a {
    margin-top: 0px;
  }
}

.container .body .col1 .section_3__main .link_buttons a p {
  font-size: 14px;
}

.container .body .col1 .section_3__main .follow_us {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .body .col1 .section_3__main .follow_us p {
  margin-right: 20px;
}

.container .body .col1 .section_4 {
  padding-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_4__main {
  width: 97%;
  height: 300px;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_4__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.container .body .col1 .section_4__main h3 {
  font-size: 18px;
  color: #002C3D;
}

.container .body .col1 .section_4__main p {
  font-size: 16px;
  color: #002C3D;
}

.container .body .col1 .section_4__main .link_buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_4__main .link_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .body .col1 .section_4__main .link_buttons a {
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  color: #57584E;
  background-color: transparent;
  width: 229px;
  height: 36px;
  border: .5px solid #CBD5E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .container .body .col1 .section_4__main .link_buttons a {
    margin-top: 0px;
  }
}

.container .body .col1 .section_4__main .link_buttons a p {
  font-size: 14px;
}

.container .body .col2::-webkit-scrollbar {
  width: 0px;
  overflow-x: hidden;
}

.container .body .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ebf9ff;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

.container .body .col2 .col2_body {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
}

.container .body .col2 .col2_body .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .body .col2 .col2_body .activity {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .body .col2 .col2_body .activity__item {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .body .col2 .col2_body .activity_points {
  width: 131px;
  font-size: 15px;
  border-radius: 4px;
  border: .5px dashed #B3BCCE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}

.container .body .col2 .col2_body .social_media {
  width: 100%;
}

.container .body .col2 .col2_body .social_media .header {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .body .col2 .col2_body .social_media .header img {
  margin-right: 10px;
}

.container .body .col2 .col2_body .social_media .header p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 766px) {
  .container .body .col2 {
    display: none;
  }
}

.container .body .col2 .posts::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.container .body .col2 .posts {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .body .col2 .posts .post_item {
  margin-right: 10px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
}
/*# sourceMappingURL=styles.module.css.map */