@import "../../scss/abstracts/mixins";


.container{
  // background-color: blue;
  // max-width: 1500px;
  // width: 100%;
  margin: auto;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 98vh;
  .side_nav{
    max-width: 230px;
    width: 15%;
    height: 100%;
    // height: 300px;
    @include respond(tablets_ipads){
      display: none;
    }
    @include respond(small_screens){
      display: none;
    }
  }
  .body__container{
    width: 85%;
    display: flex;
    height: 90vh;
    flex-direction: column;
    @include respond(small_screens){
      width: 95%;
    }
    @include respond(tablets_ipads){
      width: 100%;
    }
  }
  .body{
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    @include respond(tablets_ipads){
     width: 100%;
    }
    @include respond(small_screens){
      width: 100%;
    }
    // max-width: 85%;
      .col1::-webkit-scrollbar {
        width: 5px;
        overflow-x: hidden;
        @include respond(mobile){
         display: none; 
        }
      }
      .col1::-webkit-scrollbar-thumb {
        height: 50px;
        border-radius: 5px;
        background-color: rgb(197, 195, 195);
      }
      .col1::-webkit-scrollbar-thumb:hover {
        height: 5px;
        border-radius: 5px;
        background-color: rgb(139, 139, 139);
      }
      .col1::-webkit-scrollbar-track {
        background: transparent;
        border-right: 0.5px solid lightgray;
      }
      .col1 {
        overflow-y: scroll;
        width: 100%;
        // max-width: 70%;
        height: 100%;
        background-color: white;
        .section_1 {
          // padding: 40px 40px;
          padding-top: 50px;
          width: 100%;
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @include respond(mobile){
            align-items: center;
          }
          //   border-bottom: 0.5px solid lightgrey;
          &__main{
            width: 97%;
            @include respond(mobile){
              width: 95%;
            }
            .section_1_header_text {
              color: #64748B;
              margin: 0;
              font-size: 16px;
            }
            .balance {
              width: 370px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              div{
                display: flex;
                align-items: center;
                @include respond(mobile){
                  flex-direction: column;
                  align-items: center;
                }
              }
              h1{
                margin-right: 20px;
              }
              // justify-content: space-between;
              @include respond(mobile){
                  width: 100%;
                  flex-direction: column;
                  align-items: center;
              }
            }
            .point_balance_mobile{
              margin-top: 30px;
              width: 100%;
              display: none;
              @include respond(mobile){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
              }
            }
            .welcome {
              width: 55%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding-bottom: 50px;
              @include respond(small_screens){
                width: 100%;
              }
              p{
                font-family: Montserrat;
                line-height: 24px;
              }
            }
          }
         
        }
        .section_2 {
          padding-top: 30px;
          padding-bottom: 30px;
          width: 100%;
          display: flex;
          // flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          @include respond(mobile){
            align-items: center;
          }
          &__main{
            width: 97%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include respond(mobile){
              width: 95%;
            }
            h3 {
              color: #002c3d;
              font-size: 18px;
              // font-weight: 600;
            }
          }
          .quick_access{
            padding-top: 30px;
            max-width: 1000px;
            display: grid;
            grid-gap: .5rem;
            max-height: 80vh;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(46%, 200px));
            .action:hover{
              cursor: pointer;
              transition: .3s;
              transform: scale(1.05);
            }
            .action{
              transition: .3s;
              margin-bottom: 20px;
              border-radius: 10px;
              height: 56px;
              width: 100%;
              background-color: #FFF5EB;
              flex-shrink: 1;
              border: .5px solid #FFE0C2;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
            }
            .action_completed{
              background-color: #F0FDF4;
              border: .5px solid #BBF7D0;
              transition: .3s;
              margin-bottom: 20px;
              border-radius: 10px;
              height: 56px;
              width: 100%;
              flex-shrink: 1;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
            }
          }
        }
        .section_3{
          padding-top: 15px;
          padding-bottom: 50px;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: flex-end;
          box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.1);
          @include respond(mobile){
            align-items: center;
          }
          &__main{
            width: 97%;
            @include respond(mobile){
              width: 95%;
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
            }
            h3{
              font-size: 18px;
              color: #002C3D;
            }
            p{
              font-size: 16px;
              color: #002C3D;
            }
            .link_buttons{
              width: 100%;
              display: flex;
              align-items: center;
              @include respond(mobile){
                flex-direction: column;
              }
              a{
                border-radius: 4px;
                cursor: pointer;
                margin-right: 10px;
                margin-top: 20px;
                color: #57584E;
                background-color: transparent;
                width: 229px;
                height: 36px;
                border: .5px solid #CBD5E1;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                @include respond(mobile){
                  margin-top: 0px;
                }
                p{
                  font-size: 14px;
                }
              }
            }
            .follow_us{
              margin-top: 30px;
              display: flex;
              align-items: center;
              p{
                margin-right: 20px;
              }
            }
          }
        }
        .section_4{
          padding-top: 40px;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: flex-end;
          @include respond(mobile){
            align-items: center;
          }
          &__main{
            width: 97%;
            height: 300px;
            @include respond(mobile){
              display: flex;
              width: 95%;
              flex-direction: column;
              align-items: center;
              text-align: center;
            }
            h3{
              font-size: 18px;
              color: #002C3D;
            }
            p{
              font-size: 16px;
              color: #002C3D;
            }
            .link_buttons{
              width: 100%;
              display: flex;
              align-items: center;
              @include respond(mobile){
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              a{
                text-decoration: none;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 10px;
                margin-top: 20px;
                color: #57584E;
                background-color: transparent;
                width: 229px;
                height: 36px;
                border: .5px solid #CBD5E1;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                @include respond(mobile){
                  margin-top: 0px;
                }
                p{
                  font-size: 14px;
                }
              }
            }
          }  
        }
      }
      .col2::-webkit-scrollbar {
        width: 0px;
        overflow-x: hidden;
      }
      .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        // height: 95vh;
        background-color: #ebf9ff;
       
        .col2_body {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // max-height: 85vh;
          width: 80%;
          .profile {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
          }
          .activity{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .activity__item{
            height: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }
          .activity_points{
            width: 131px;
            font-size: 15px;
            border-radius: 4px;
            border: .5px dashed #B3BCCE;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
          }
          .social_media {
            width: 100%;
            .header {
              margin-top: 10px;
              // margin-bottom: 10px;
              width: 100%;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              img{
                margin-right: 10px;
              }
              p {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
              }
            }
            
          }
         
       
        }
        @include respond(small_screens){
            display: none;
        }
        .posts::-webkit-scrollbar {
          width: 5px;
          display: none; 
        }
        .posts{
          align-self: flex-end;
          width: 90%;
          min-height: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow-x: scroll;
          flex-wrap: nowrap;
          .post_item{
            margin-right: 10px;
            min-width: 250px;
            max-width: 250px;
            min-height: 250px;
            max-height: 250px;
          }
        }
      }
  }
}