@import "../../scss/abstracts/mixins";

.container{
  width: 450px;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  @include respond(mobile){
    width: 90%;
  }
  .header{
    width: 85%;
    height: 100px;
    display: flex;
    border-bottom: .5px solid #00668F;
    align-items: center;
    justify-content: space-between;
    h2{
      font-size: 15px;
    }
  }
  .main::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
  .main{
    overflow-y: scroll;
    width: 85%;
    height: 80%;
  }
}


.feed_back{
  width: 424px;
  // height: 40%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  @include respond(mobile){
    width: 90%;
  }
  .main{
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
