@import "../../scss/abstracts/mixins";


.navbar{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    img{
      display: none;
    }
    @include respond(mobile){
      border-bottom: 0px;
      img{
        display: block;
      }
    }
    .link{
      @include respond(mobile){
        display: none;
      }
    }
    .profile_icon{
      display: none;
      @include respond(mobile){
        display: block;
      }
    }
    p{
        margin-left: 20px;
    }
    .col1{
      display: flex;
      align-items: center;
      height: 55px;
      @include respond(mmobile){
        height: 120px;
      }

    }
    .col2{
      display: flex;
      align-items: center;
      span{
        margin-right: 10px;
      }
    }
}
.toggler{
    display: none;
    @include respond(small_screens){
        display: block;
    }
    @include respond(tablets_ipads){
        display: block;
    }
}
.drawer{
    display:none;
    flex-direction: column;
    align-items: flex-start;
    position:fixed;
    top:0;
    left:0;
    top:0;
    height:100vh;
    width:100%;
    padding: 20px;
    background-color:#EBF9FF;
    box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
    z-index: 100;
    transition:.2s;
    .drawer_body{
      width: 90%;
    }
    @include respond(small_screens){
        display: flex;
    }
    @include respond(tablets_ipads){
        width: 25%;
        display: flex;
    }
}
.backmodal{
    display:none;
    justify-content:flex-start;
    position:fixed;
    top:0;
    left:0;
    top:0;
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
    z-index: 0;
    @include respond(small_screens){
        display: flex;
    }
    @include respond(tablets_ipads){
        display: flex;
    }
}
.drawer_header{
  background-color: #DCF3FF;
  padding: 5px;
  margin-top: 20px;
  width: auto;
  height: 63px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  p{
    margin: 0;
    margin-left: 8px;
  }
}
.drawer_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    li{
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-bottom: 14px;
      span{
        color: #00668F;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    li:hover{
       background-color: #DCF3FF;
       cursor: pointer;
    }
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: #E6F7FE;
    bottom: 0;
    li{
      padding: 8px;
      width: 100%;
      padding-left: 10px;
      list-style-type: none;
      display: flex;
      align-items: center;
      span{
        font-size: 14px;
        margin-left: 10px;
        color: #00668F
      }
      p{
        color: #00668F;
        font-size: 14px;
        margin: 0
      }
    }
    li:hover{
      background-color: #DCF3FF;
      cursor: pointer;
   }
  }