.navbar {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

.navbar img {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar {
    border-bottom: 0px;
  }
  .navbar img {
    display: block;
  }
}

.navbar .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .link {
    display: none;
  }
}

.navbar .profile_icon {
  display: none;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .profile_icon {
    display: block;
  }
}

.navbar p {
  margin-left: 20px;
}

.navbar .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

.navbar .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .col2 span {
  margin-right: 10px;
}

.toggler {
  display: none;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media only screen and (max-width: 766px) {
  .toggler {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .toggler {
    display: block;
  }
}

.drawer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #EBF9FF;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
          box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
  z-index: 100;
  -webkit-transition: .2s;
  transition: .2s;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

.drawer .drawer_body {
  width: 90%;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 766px) {
  .drawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .drawer {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.backmodal {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
          box-shadow: 0px 0px 3px 3px rgba(221, 220, 220, 0.288);
  z-index: 0;
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
  /* Media Query for Tablets Ipads portrait mode */
  /* Media Query for Laptops and Desktops */
  /* Media Query for Large screens */
}

@media only screen and (max-width: 766px) {
  .backmodal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .backmodal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.drawer_header {
  background-color: #DCF3FF;
  padding: 5px;
  margin-top: 20px;
  width: auto;
  height: 63px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.drawer_header p {
  margin: 0;
  margin-left: 8px;
}

.drawer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.drawer_items li {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-bottom: 14px;
}

.drawer_items li span {
  color: #00668F;
  font-size: 14px;
  margin-left: 10px;
}

.drawer_items li:hover {
  background-color: #DCF3FF;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  background-color: #E6F7FE;
  bottom: 0;
}

.footer li {
  padding: 8px;
  width: 100%;
  padding-left: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li span {
  font-size: 14px;
  margin-left: 10px;
  color: #00668F;
}

.footer li p {
  color: #00668F;
  font-size: 14px;
  margin: 0;
}

.footer li:hover {
  background-color: #DCF3FF;
  cursor: pointer;
}
/*# sourceMappingURL=styles.module.css.map */