.main{
    margin-top: 16px;
    padding: 10px;
    background-color: #00668F;
    width: 92%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
